@use "../foundation/common";
.p-reason {
  width: 100%;
  .p-reason__wrap {
    width: 90%;
    margin: 0 auto;
    position: relative;
    h3 {
      text-align: center;
      font-size: common.$font16pt;
    }
    .p-reason__wrap-box {
      position: relative;
      padding-top: 10%;
      padding-bottom: 10%;
      .p-reason__wrap-box-tex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        flex-wrap: nowrap;
        width: 100%;
        p {
          width: 100%;
          text-align: center;
          font-size: common.$font14pt;
          &:first-child {
            margin-right: 10%;
          }
          &:last-child {
            margin-left: 10%;
          }
        }
      }
    }
    h3 {
      display: flex;
      flex-direction: column;
      .sm {
        font-size: common.$font16pt;
      }
      .md {
        font-size: common.$font18pt;
      }
      .lg {
        font-size: common.$font24pt;
      }
    }
  }
  .p-reason__wrap-illustration {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    img {
      width: 100%;
    }
    svg {
      position: absolute;
      top: 43.5%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 2;
      margin: auto;
      width: 100px;
      height: 120px;
      animation: jump 1s infinite ease-in-out;
      color: #666;
    }
    @keyframes jump {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
  }
  .p-reason__num {
    position: relative;
    padding-top: 10vh;
    h2 {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: common.$font16pt;
      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        width: 40px;
        height: 4px;
        background: linear-gradient(
          to right,
          common.$color-b3 50%,
          common.$color-r 50%
        );
      }
    }
    .p-reason__num-box {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 3vh;
      .reasonIcon {
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 56px;
        aspect-ratio: 1;
        margin: 0 auto;
        z-index: 3;
        img {
          width: 100%;
        }
      }
      .reasonImage {
        display: inline-block;
        z-index: 2;
        img {
          display: inline-block;
          width: 59.4286%;
          aspect-ratio: 4/3.4231;
          z-index: 1;
        }
        h3 {
          display: inline-flex;
          flex-direction: column;
          color: common.$bg;
          font-family: common.$Gothic;
          z-index: 2;
          .leadBlue {
            background-color: common.$color-b3;
            font-size: common.$font12pt;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
          }
          .leadRed {
            background-color: common.$color-r;
            font-size: common.$font20pt;
            padding: 0.5rem;
          }
        }
      }
      .left {
        position: relative;
        h3 {
          position: absolute;
          bottom: 20%;
          right: 0;
        }
      }
      .right {
        position: relative;
        img {
          display: flex;
          margin: 0 0 0 auto;
        }
        h3 {
          position: absolute;
          bottom: 20%;
          left: 0;
        }
      }
      figcaption {
        font-family: common.$font-f;
        font-size: common.$font12pt;
        width: 90%;
        margin: 1rem auto;
      }
      .snap-scroll {
        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        width: 390px;
        margin: 0 auto;
        padding-top: 10vh;
        padding-bottom: 10vh;
        .items {
          scroll-snap-align: start;
          flex: 0 0 100%;
          aspect-ratio: 16/9;
          background-color: #f4f4f4;
          img {
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }
    .p-reson__num-pinkBox {
      width: 100%;
      padding-bottom: 1.25em;
      border-radius: 0.875rem;
      background-color: common.$color-p;
      font-family: common.$Gothic;
      h3 {
        position: relative;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 1em;
        font-size: common.$font14pt;
        ruby {
          margin-bottom: 0.3rem;
        }
        .red {
          color: common.$color-r;
        }
        .blue {
          color: common.$color-b3;
        }
        &::before {
          content: "";
          width: 35px;
          aspect-ratio: 1;
          margin-right: 0.5rem;
          background-image: url("/images/reason_05.png ");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .pinkBox {
        display: flex;
        flex-direction: column;
        background-color: common.$bg;
        width: 90%;
        margin: 0 auto;
        border-radius: 0.875rem;
        h4 {
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: common.$font16pt;
          color: common.$color-b3;
        }
        .pinkBox__wrap {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          gap: 0.875rem;
          width: 100%;
          padding-bottom: 1rem;
          img {
            width: 140px;
            height: 100%;
          }
          figcaption {
            font-size: common.$font10pt;
            max-width: 140px;
            font-family: common.$font-f;
          }
        }
      }
    }
  }
}

.reason-forth-image {
  width: 90%;
  margin: 0 auto;
}

.reason-forth-tex {
  font-family: common.$font-f;
  text-align: center;
  font-size: common.$font10pt;
}

.reason-forth-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  a {
    width: 40%;
    padding: 0.5rem;
    border: solid common.$font;
    opacity: 1;
    transition: common.$transition;
    img {
      width: 100%;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
