<article class="l-contents">
                <nav class="c-entry">
                    <div class="c-entry__wrap">
                        <h2>申し込み・問い合わせ</h2>
                    </div>

                    <div class="c-entry__wrap">
                        <div class="c-entry__wrap-box">
                            <a href="https://popy-seijou.com/entry/" class="main-btn entry-btn" target="_blank" rel="noopener noreferrer">
                                <span class="sub">今すぐ入会したい方</span>
                                <span class="ttl">ご入会申し込み</span>
                            </a>
                        </div>
                        <div class="c-entry__wrap-box">
                            <a href="https://popy-seijou.com/trial/" class="left-btn entry-btn" target="_blank" rel="noopener noreferrer">
                                <span class="sub">まず内容を知りたい方</span>
                                <span class="ttl"><span class="u-tex-red">無料</span>見本申し込み</span>
                            </a>
                            <a href="https://popy-seijou.com/paid/" class="right-btn entry-btn" target="_blank" rel="noopener noreferrer">
                                <span class="sub">実物で試してみたい方</span>
                                <span class="ttl">3・1ヶ月有料購読申し込み</span>
                            </a>
                        </div>
                        <div class="c-entry__wrap-tel">
                            <div>
                                <i class="fas fa-phone-alt fa-2x"></i>
                                <a href="tel:0120446119">0120-446-119</a>
                            </div>
                            <span>〈電話受付〉平日 10：00〜17：00</span>
                        </div>
                    </div>
                </nav>
            </article>