
            <footer class="l-footer">
                <ul>
                    <li>
                        <a href="p_club.html"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >ポピー会員無料サービスポピっこくらぶ</a
              >
            </li>
            <li>
              <a href="popicco.html"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >幼児ポピーポピっこ</a
              >
            </li>
            <li>
              <a href="shougaku_popy.html"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >小学ポピー</a
              >
            </li>
            <li>
              <a href="chuugaku_popy.html"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >中学POPY</a
              >
            </li>
            <li>
              <a href="pke.html"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >ポピーキッズENGLISH</a
              >
            </li>
            <li>
              <a href="studyup.html"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >スタディアップ教室</a
              >
            </li>
            <li>
              <a href="sukusuku.html"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >すくすく幼児教室</a
              >
            </li>
            <li>
              <a href="about.html"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >ご挨拶・会社概要</a
              >
            </li>
            <li>
              <a href="about.html#policy"
                ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                >個人情報保護方針</a
              >
            </li>
          </ul>
          <div class="l-footer__copy">
            Copyright Ⓒ ポピー晴城（せいじょう）支部<br />
            All Rights Reserved.
          </div>
        </footer>