<nav class="l-nav">

  <div class="l-nav__wrap">
    <a href="">
      <span class="sm">電話勧誘なし・まずはお気軽に </span>
      <span class="lg">見本無料申込</span>
    </a>
    <a href="">
      <span class="sm">今すぐ！簡単に</span>
      <span class="lg">入会申込</span>
    </a>
  </div>
</nav>
