@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy=true] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

html {
  letter-spacing: 0.0625em;
  line-height: 1.5;
  font-feature-settings: "palt" 1;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  background-color: #ffffff;
  overflow-x: hidden;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.5rem;
}

figure {
  margin: 0;
}

main {
  width: 100%;
  min-height: 100dvh;
  background-color: #f2ebda;
}
main .index {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 667px;
  overflow-x: hidden;
  z-index: 2;
  background-color: #ffffff;
}
@media screen and (min-width: 667px) {
  main .index {
    width: 425px;
    box-shadow: 0 0 6px #cccccc;
    margin-left: calc(100vw - 425px);
  }
}
@media screen and (min-width: 960px) {
  main .index {
    box-shadow: 0 0 6px #cccccc;
    margin-left: auto;
    margin-right: 3vw;
  }
}

#header {
  position: absolute;
  top: 0;
  left: 3%;
  width: 94%;
  height: auto;
  max-height: 15vh;
  z-index: 10;
}
#header h1 {
  display: grid;
  grid-template-columns: 30% 10% 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
}
#header h1 .mainLogo {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
  width: 20%;
  margin-right: 2rem;
}
#header h1 .ttl-cross {
  grid-area: 1/2/2/3;
  display: block;
  position: relative;
  width: 37.4767px;
  height: 37.4767px;
}
#header h1 .ttl-cross::before, #header h1 .ttl-cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background: #000000;
  transform: translate(-50%, -50%);
}
#header h1 .ttl-cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#header h1 .ttl-cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
#header h1 .clubLogo {
  grid-area: 1/3/2/4;
  display: flex;
  width: 100%;
  align-items: center;
}
#header h1 .clubLogo .clubLogo-ttl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin-right: 0.5rem;
  font-family: "Jun 501", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  color: #e50012;
}
#header h1 .clubLogo .clubLogo-ttl span {
  display: inline-block;
  width: 100%;
  font-size: clamp(1.188rem, 0.944rem + 1.11vw, 1.5rem);
}
#header h1 .clubLogo .clubLogo-ttl span:last-child {
  text-align: right;
  font-size: 0.6rem;
}
#header h1 .clubLogo img {
  width: 30%;
  min-width: 43.7461px;
  aspect-ratio: 1;
}

.l-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  padding: 3.5333vw 2.6667vw;
  background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 667px) {
  .l-nav {
    width: calc(100vw - 425px);
    height: 100vh;
  }
}
@media screen and (min-width: 960px) {
  .l-nav {
    visibility: visible;
    width: calc(100vw - (425px + 3vw));
    height: 100vh;
  }
}
.l-nav .l-nav__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 0.5em;
}
@media screen and (min-width: 667px) {
  .l-nav .l-nav__wrap {
    display: flex;
    flex-direction: column;
  }
}
.l-nav .l-nav__wrap a {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 7.3333vw;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  color: #ffffff;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.l-nav .l-nav__wrap a:hover {
  opacity: 0.5;
}
@media screen and (min-width: 667px) {
  .l-nav .l-nav__wrap a {
    margin-bottom: 1rem;
  }
}
.l-nav .l-nav__wrap a:first-child {
  width: 46vw;
  background-color: #009fe8;
}
.l-nav .l-nav__wrap a:last-child {
  width: 46vw;
  background-color: #e50012;
}
.l-nav .l-nav__wrap a::before, .l-nav .l-nav__wrap a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.l-nav .l-nav__wrap a::before {
  border-radius: 50%;
  background: #fff;
  right: 2.9333vw;
  width: 3.8vw;
  height: 3.8vw;
}
.l-nav .l-nav__wrap a::after {
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
  background: inherit;
  right: 3.8667vw;
  width: 1.4667vw;
  height: 1.8667vw;
}
.l-nav .l-nav__wrap a .sm {
  font-size: 2.1333vw;
}
.l-nav .l-nav__wrap a .lg {
  font-size: 4.1333vw;
}

.l-contents {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.l-contents .l-section {
  position: relative;
  width: 100%;
}

.l-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
.l-footer ul {
  padding-top: 0.5rem;
}
.l-footer ul li a {
  color: #666;
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 1.5rem 0.5rem;
  border-top: 1px solid #ddd;
  font-size: 16px;
}
.l-footer ul li a:last-child {
  border-bottom: 1px solid #ddd;
}
.l-footer .l-footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20vh;
  margin-top: 5%;
  font-size: 12px;
  line-height: 1.2;
  background-color: #80cff3;
  padding: 2rem 0;
}

.c-entry {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 3rem 0;
}
.c-entry .c-entry__wrap {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  font-family: "Jun 501", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.c-entry .c-entry__wrap h2 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.c-entry .c-entry__wrap .c-entry__wrap-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.c-entry .c-entry__wrap .c-entry__wrap-box .entry-btn {
  display: flex;
  flex-direction: column;
  color: #000000;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.c-entry .c-entry__wrap .c-entry__wrap-box .entry-btn .sub {
  font-size: 0.875rem;
}
.c-entry .c-entry__wrap .c-entry__wrap-box .entry-btn .ttl {
  font-size: 1.375rem;
}
.c-entry .c-entry__wrap .c-entry__wrap-box .entry-btn:hover {
  opacity: 0.5;
}
.c-entry .c-entry__wrap .c-entry__wrap-box .main-btn {
  width: 100%;
  margin: 2rem auto 1.5rem;
  padding: 2rem 0;
  text-align: center;
  background-color: #2cb94c;
  border-radius: 1rem;
  border: 1px solid #cccccc;
  box-shadow: 0 0 6px #cccccc;
  color: #faee00;
  text-decoration: none;
}
.c-entry .c-entry__wrap .c-entry__wrap-box .left-btn {
  width: 42.5%;
  max-width: 340px;
  padding: 1.5rem 0;
  border: 1px solid #cccccc;
  background-color: #f0c250;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 6px #cccccc;
}
.c-entry .c-entry__wrap .c-entry__wrap-box .right-btn {
  width: 42.5%;
  max-width: 340px;
  padding: 1.5rem 0;
  margin-right: 0;
  margin-left: auto;
  border: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
  float: right;
  box-shadow: 0 0 6px #cccccc;
}
.c-entry .c-entry__wrap .c-entry__wrap-tel {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000000;
  padding: 3rem 0 1rem;
}
.c-entry .c-entry__wrap .c-entry__wrap-tel div {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 1rem;
}
.c-entry .c-entry__wrap .c-entry__wrap-tel div a {
  color: #000000;
  font-size: 1.625rem;
}
.c-entry .c-entry__wrap .c-entry__wrap-tel span {
  font-size: 1rem;
}

.c-triangle {
  position: relative;
  width: 100%;
  z-index: 10;
}

.c-bg-cream {
  background-color: #f2ebda;
}

.stripe01 {
  background-color: #f9f2b3;
  background-image: linear-gradient(45deg, #f9f9f9 25%, transparent 25%, transparent 50%, #f9f9f9 50%, #f9f9f9 75%, transparent 75%, transparent);
  background-size: 5px 5px;
}

.stripe02 {
  background-color: #e1eef7;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 50%, #ddd 50%, #ddd 75%, transparent 75%, transparent);
  background-size: 6px 6px;
}

.stripe03 {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 50%, #ddd 50%, #ddd 75%, transparent 75%, transparent);
  background-size: 6px 6px;
}

.stripe04 {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 50%, #ddd 50%, #ddd 75%, transparent 75%, transparent);
  background-size: 4px 4px;
}

.stripe05 {
  background-color: #e5f5fd;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
  background-size: 8px 8px;
}

.stripe06 {
  background: linear-gradient(120deg, transparent 90%, #fff 90%) 0 0/40px 40px, linear-gradient(-120deg, transparent 90%, #fff 90%) 0 0/40px 40px, linear-gradient(120deg, transparent 90%, #fff 90%) 20px 20px/40px 40px, linear-gradient(-120deg, transparent 90%, #fff 90%) 20px 20px/40px 40px, linear-gradient(#ff3, #f63);
}

.c-logo__flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  z-index: 5;
}
.c-logo__flex .c-logo__flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-logo__flex .c-logo__flex-items.first, .c-logo__flex .c-logo__flex-items.third {
  width: 40%;
}
.c-logo__flex .c-logo__flex-items.sec {
  width: 20%;
}
.c-logo__flex .c-logo__flex-items.third {
  display: flex;
  flex-direction: column;
}
.c-logo__flex .c-logo__flex-items .main-logo {
  min-width: 120px;
}
.c-logo__flex .c-logo__flex-items .club-logo {
  min-width: 70px;
  max-width: 100px;
}
.c-logo__flex .c-logo__flex-items .club-tex:nth-of-type(1) {
  color: #e50012;
}
.c-logo__flex .c-logo__flex-items .club-tex:nth-of-type(3) {
  color: #ffffff;
}
.c-logo__flex .c-logo__flex-items .cross {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
}
.c-logo__flex .c-logo__flex-items .cross::before, .c-logo__flex .c-logo__flex-items .cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background: #000000;
  transform: translate(-50%, -50%);
}
.c-logo__flex .c-logo__flex-items .cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-logo__flex .c-logo__flex-items .cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.c-arrow {
  width: 66.8px;
  height: 36.8px;
  margin: 0 auto;
  position: relative;
}
.c-arrow svg {
  width: 100%;
  height: 100%;
}
.c-arrow .arrow-line {
  opacity: 0;
}
.c-arrow .line-3 {
  animation-delay: 0s;
  animation: showArrows 2s ease-in-out infinite;
}
.c-arrow .line-2 {
  animation-delay: 0s;
  animation: showArrows2 2s ease-in-out infinite;
}
.c-arrow .line-1 {
  animation-delay: 0s;
  animation: showArrows3 2s ease-in-out infinite;
}
@keyframes showArrows {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showArrows2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showArrows3 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.c-cross {
  display: block;
  position: relative;
  width: 47.9112px;
  height: 47.9112px;
  margin: 0 auto;
}
.c-cross::before, .c-cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 47.9112px;
  background: #000000;
  transform: translate(-50%, -50%);
}
.c-cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.p-hero {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: 100dvh;
}
.p-hero .p-hero__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  min-height: 100dvh;
  margin: auto 5%;
  z-index: 10;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.p-hero .p-hero__cover img {
  position: absolute;
  top: 18.7229vh;
  width: 36.5%;
  min-width: 128px;
}
.p-hero .p-hero__cover h2 {
  position: absolute;
  bottom: 15%;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.8rem;
}
.p-hero .p-hero__cover h2 span {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
}
.p-hero .p-hero__cover h2 .leadOne {
  color: #000000;
  background-color: #ffffff;
}
.p-hero .p-hero__cover h2 .leadSec,
.p-hero .p-hero__cover h2 .leadThird {
  color: #ffffff;
}
.p-hero .p-hero__cover h2 .leadSec {
  background-color: #009fe8;
}
.p-hero .p-hero__cover h2 .leadThird {
  background-color: #e50012;
}
.p-hero .p-hero__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  overflow: hidden;
}
.p-hero .p-hero__slide .slideshow {
  height: 100%;
  height: auto;
  overflow: hidden;
  background-size: cover;
}
.p-hero .p-hero__slide .slideshow .slideshow_image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.2);
  opacity: 0;
}
.p-hero .p-hero__slide .slideshow .slideshow_image:nth-child(1) {
  background-image: url("/images/hero01.webp");
  animation-name: kenburns-1;
  z-index: 3;
}
.p-hero .p-hero__slide .slideshow .slideshow_image:nth-child(2) {
  background-image: url("/images/hero02.webp");
  animation-name: kenburns-2;
  z-index: 2;
}
.p-hero .p-hero__slide .slideshow .slideshow_image:nth-child(3) {
  background-image: url("/images/hero03.webp");
  animation-name: kenburns-3;
  z-index: 1;
}
@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  33.333% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kenburns-2 {
  33.333% {
    opacity: 1;
    transform: scale(1.2);
  }
  66.666% {
    opacity: 1;
    transform: scale(1);
  }
  73.333% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes kenburns-3 {
  66.666% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.p-hero__bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 50vh;
}
.p-hero__bottom .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.p-hero__bottom .left img {
  width: 90%;
  max-width: 132.5568px;
  aspect-ratio: 1;
  margin: 0 auto;
}
.p-hero__bottom .left figcaption {
  margin: 3% auto;
  font-size: 0.5rem;
}
.p-hero__bottom .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.p-hero__bottom .right h2 {
  position: relative;
  margin: 1rem 0 0 0;
  font-size: 1.666875rem;
  text-align: center;
}
.p-hero__bottom .right h2::before, .p-hero__bottom .right h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1.75rem;
  height: 1px;
  background-color: #000000;
  transform: translateY(-50%) rotate(45deg);
}
.p-hero__bottom .right h2::before {
  left: -0.5rem;
}
.p-hero__bottom .right h2::after {
  right: 0rem;
  transform: translateY(-50%) rotate(-45deg);
}
.p-hero__bottom .right p {
  text-align: left;
  font-size: 1.166875rem;
  color: #cb5977;
}
.p-hero__bottom .right img {
  width: 90%;
  max-width: 299.7px;
  margin: 0 auto;
}

.p-worries {
  position: relative;
  width: 100%;
}
.p-worries:first-child ul {
  background-color: #009fe8;
}
.p-worries:last-child {
  background: rgb(250, 204, 208);
  background: linear-gradient(180deg, rgb(250, 204, 208) 0%, rgb(255, 255, 255) 90%);
}
.p-worries h2 {
  font-size: 1.83375rem;
  text-align: center;
  color: #009fe8;
}
.p-worries ul {
  position: relative;
  margin: 0 auto;
  padding: 5%;
}
.p-worries ul li {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0.8rem;
  color: #ffffff;
  font-size: 1.33375rem;
  border-bottom: solid 1px #ffffff;
}
.p-worries ul li::before {
  content: url("/images/check.svg");
  margin-right: 0.5rem;
}
.p-worries ul .arrow {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -26px;
  left: 0;
  margin: 0 auto;
  text-align: center;
  width: 0;
  height: 0;
  border-top: 26px solid #009fe8;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  z-index: 10;
}
.p-worries .p-worries__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.p-worries .p-worries__wrap:last-child {
  padding-top: 10vh;
}
.p-worries .p-worries__wrap h2 {
  font-size: 2rem;
  color: #000000;
}
.p-worries .p-worries__wrap h3 {
  font-size: 1.08375rem;
  font-size: 0.8125rem;
}

.p-solution {
  width: 100%;
  height: auto;
}
.p-solution:nth-child(2) {
  background-image: url("/images/bg01.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.p-solution .award {
  width: 81.11%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.p-solution .award img {
  width: 100%;
}
.p-solution h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
}
.p-solution .p-solution__wrap {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10vh;
}
.p-solution .p-solution__wrap .p-solution__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 2rem;
}
.p-solution .p-solution__wrap .p-solution__flex .p-solution__flex-box {
  width: 40%;
}
.p-solution .p-solution__wrap .p-solution__flex .p-solution__flex-box:first-child {
  margin-right: 10%;
}
.p-solution .p-solution__wrap .p-solution__flex .p-solution__flex-box:last-child {
  margin-left: 10%;
}
.p-solution .p-solution__wrap .p-solution__flex .p-solution__flex-box .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
.p-solution .p-solution__wrap .p-solution__flex .p-solution__flex-box p {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

.p-about {
  width: 100%;
}
.p-about .black-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #000000;
}
.p-about .black-bg div {
  font-size: 1.25rem;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  color: #ffffff;
}
.p-about .p-about__wrap {
  width: 90%;
  margin: 0 auto;
}
.p-about .p-about__wrap p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  padding-top: 10vh;
}
.p-about .p-about__wrap .p-about__wrap-ttl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.p-about .p-about__wrap .p-about__wrap-ttl img {
  width: auto;
  height: auto;
  max-width: 18.85714%;
  aspect-ratio: 1;
  margin-right: 1rem;
}
.p-about .p-about__wrap .p-about__wrap-ttl h2 {
  width: 80%;
  color: #e50012;
}
.p-about .p-about__wrap .p-about__wrap-ttl h2 span {
  color: #000000;
}
.p-about .p-about__wrap .p-about__wrap-ttl-sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  position: relative;
  font-size: 1.375rem;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.p-about .p-about__wrap .p-about__wrap-ttl-sec::before {
  content: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22layer%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%2048%2030%22%3E%20%3Cdefs%3E%20%3Cstyle%3E%20.st0%20%7B%20fill%3A%20%23bf9c46%3B%20%7D%20%3C%2Fstyle%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22g12373%22%3E%20%3Cpath%20id%3D%22path27637%22%20class%3D%22st0%22%20d%3D%22M24%2C5s-3.9%2C13.3-8%2C13.8c-4.1.6-12-5.2-12-5.2l4.6%2C11.5h30.9l4.6-11.5s-7.9%2C5.8-12%2C5.2c-4.1-.6-8-13.8-8-13.8h0Z%22%2F%3E%20%3Cpath%20id%3D%22path27639%22%20class%3D%22st0%22%20d%3D%22M8.7%2C26.2h30.7v2.8H8.7v-2.8Z%22%2F%3E%20%3Cpath%20id%3D%22path27641%22%20class%3D%22st0%22%20d%3D%22M12.6%2C10.6s.6%2C3%2C.8%2C6.4c1%2C.3%2C1.9.5%2C2.5.4.3%2C0%2C1-.5%2C1.7-1.4-2.7-2.4-4.9-5.4-4.9-5.4ZM35.4%2C10.6s-2.2%2C3-4.9%2C5.4c.7.9%2C1.5%2C1.4%2C1.7%2C1.4.6%2C0%2C1.4%2C0%2C2.5-.4.2-3.4.8-6.4.8-6.4Z%22%2F%3E%20%3Cg%20id%3D%22g12363%22%3E%20%3Cpath%20id%3D%22circle27647%22%20class%3D%22st0%22%20d%3D%22M26%2C3c0%2C1.1-.9%2C2-2%2C2h0c-1.1%2C0-2-.9-2-2h0c0-1.1.9-2%2C2-2h0c1.1%2C0%2C2%2C.9%2C2%2C2h0Z%22%2F%3E%20%3Cpath%20id%3D%22circle27651%22%20class%3D%22st0%22%20d%3D%22M47.4%2C12.2c0%2C1.1-.9%2C2-2%2C2h0c-1.1%2C0-2-.9-2-2h0c0-1.1.9-2%2C2-2h0c1.1%2C0%2C2%2C.9%2C2%2C2h0Z%22%2F%3E%20%3Cpath%20id%3D%22circle27655%22%20class%3D%22st0%22%20d%3D%22M.6%2C12.2c0%2C1.1.9%2C2%2C2%2C2h0c1.1%2C0%2C2-.9%2C2-2h0c0-1.1-.9-2-2-2h0c-1.1%2C0-2%2C.9-2%2C2h0Z%22%2F%3E%20%3Cpath%20id%3D%22circle27704%22%20class%3D%22st0%22%20d%3D%22M11.9%2C8c-.8%2C0-1.4.6-1.4%2C1.4%2C0%2C.8.6%2C1.4%2C1.4%2C1.4.8%2C0%2C1.4-.6%2C1.4-1.4h0c0-.8-.6-1.4-1.4-1.4h0ZM36.1%2C8c-.8%2C0-1.4.6-1.4%2C1.4%2C0%2C.8.6%2C1.4%2C1.4%2C1.4.8%2C0%2C1.4-.6%2C1.4-1.4h0c0-.8-.6-1.4-1.4-1.4h0Z%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
  width: 46.879px;
}
.p-about .p-about__wrap .p-about__wrap-box {
  position: relative;
  text-align: center;
}
.p-about .p-about__wrap .p-about__wrap-box img {
  width: 100%;
  margin: 0 auto;
}
.p-about .p-about__wrap .p-about__wrap-box .bos {
  position: absolute;
  right: -12.5%;
  bottom: 11%;
  width: 38%;
  margin: 0;
  z-index: 3;
}
.p-about .p-about__wrap .p-about__wrap-box .bos figcaption {
  font-size: 9.82px;
}
.p-about .p-about__wrap .p-about__wrap-box .bos img {
  width: 100%;
}
.p-about .p-about__wrap .p-about__wrap-box .grades h3 {
  font-size: 1.375rem;
}
.p-about .p-about__wrap .p-about__wrap-box .grades h3 span {
  position: relative;
  color: #ffff00;
  font-size: 3.125rem;
}
.p-about .p-about__wrap .p-about__wrap-box .grades h3 span::before {
  position: absolute;
  top: -0.35em;
  /* 少し上に移動 */
  content: "15賞";
  color: #e50012;
  font-size: 3.125rem;
  z-index: 2;
}

.p-reason {
  width: 100%;
}
.p-reason .p-reason__wrap {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.p-reason .p-reason__wrap h3 {
  text-align: center;
  font-size: 1.33375rem;
}
.p-reason .p-reason__wrap .p-reason__wrap-box {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
}
.p-reason .p-reason__wrap .p-reason__wrap-box .p-reason__wrap-box-tex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
}
.p-reason .p-reason__wrap .p-reason__wrap-box .p-reason__wrap-box-tex p {
  width: 100%;
  text-align: center;
  font-size: 1.166875rem;
}
.p-reason .p-reason__wrap .p-reason__wrap-box .p-reason__wrap-box-tex p:first-child {
  margin-right: 10%;
}
.p-reason .p-reason__wrap .p-reason__wrap-box .p-reason__wrap-box-tex p:last-child {
  margin-left: 10%;
}
.p-reason .p-reason__wrap h3 {
  display: flex;
  flex-direction: column;
}
.p-reason .p-reason__wrap h3 .sm {
  font-size: 1.33375rem;
}
.p-reason .p-reason__wrap h3 .md {
  font-size: 1.5rem;
}
.p-reason .p-reason__wrap h3 .lg {
  font-size: 2rem;
}
.p-reason .p-reason__wrap-illustration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
}
.p-reason .p-reason__wrap-illustration img {
  width: 100%;
}
.p-reason .p-reason__wrap-illustration svg {
  position: absolute;
  top: 43.5%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
  margin: auto;
  width: 100px;
  height: 120px;
  animation: jump 1s infinite ease-in-out;
  color: #666;
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.p-reason .p-reason__num {
  position: relative;
  padding-top: 10vh;
}
.p-reason .p-reason__num h2 {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.33375rem;
}
.p-reason .p-reason__num h2::before {
  content: "";
  position: absolute;
  top: -1rem;
  width: 40px;
  height: 4px;
  background: linear-gradient(to right, #009fe8 50%, #e50012 50%);
}
.p-reason .p-reason__num .p-reason__num-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3vh;
}
.p-reason .p-reason__num .p-reason__num-box .reasonIcon {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 56px;
  aspect-ratio: 1;
  margin: 0 auto;
  z-index: 3;
}
.p-reason .p-reason__num .p-reason__num-box .reasonIcon img {
  width: 100%;
}
.p-reason .p-reason__num .p-reason__num-box .reasonImage {
  display: inline-block;
  z-index: 2;
}
.p-reason .p-reason__num .p-reason__num-box .reasonImage img {
  display: inline-block;
  width: 59.4286%;
  aspect-ratio: 4/3.4231;
  z-index: 1;
}
.p-reason .p-reason__num .p-reason__num-box .reasonImage h3 {
  display: inline-flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  z-index: 2;
}
.p-reason .p-reason__num .p-reason__num-box .reasonImage h3 .leadBlue {
  background-color: #009fe8;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.p-reason .p-reason__num .p-reason__num-box .reasonImage h3 .leadRed {
  background-color: #e50012;
  font-size: 1.666875rem;
  padding: 0.5rem;
}
.p-reason .p-reason__num .p-reason__num-box .left {
  position: relative;
}
.p-reason .p-reason__num .p-reason__num-box .left h3 {
  position: absolute;
  bottom: 20%;
  right: 0;
}
.p-reason .p-reason__num .p-reason__num-box .right {
  position: relative;
}
.p-reason .p-reason__num .p-reason__num-box .right img {
  display: flex;
  margin: 0 0 0 auto;
}
.p-reason .p-reason__num .p-reason__num-box .right h3 {
  position: absolute;
  bottom: 20%;
  left: 0;
}
.p-reason .p-reason__num .p-reason__num-box figcaption {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 1rem;
  width: 90%;
  margin: 1rem auto;
}
.p-reason .p-reason__num .p-reason__num-box .snap-scroll {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  width: 390px;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.p-reason .p-reason__num .p-reason__num-box .snap-scroll .items {
  scroll-snap-align: start;
  flex: 0 0 100%;
  aspect-ratio: 16/9;
  background-color: #f4f4f4;
}
.p-reason .p-reason__num .p-reason__num-box .snap-scroll .items img {
  padding: 1rem;
  width: 100%;
}
.p-reason .p-reason__num .p-reson__num-pinkBox {
  width: 100%;
  padding-bottom: 1.25em;
  border-radius: 0.875rem;
  background-color: #fbd9db;
  font-family: "Gothic MB101 Bold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.p-reason .p-reason__num .p-reson__num-pinkBox h3 {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  font-size: 1.166875rem;
}
.p-reason .p-reason__num .p-reson__num-pinkBox h3 ruby {
  margin-bottom: 0.3rem;
}
.p-reason .p-reason__num .p-reson__num-pinkBox h3 .red {
  color: #e50012;
}
.p-reason .p-reason__num .p-reson__num-pinkBox h3 .blue {
  color: #009fe8;
}
.p-reason .p-reason__num .p-reson__num-pinkBox h3::before {
  content: "";
  width: 35px;
  aspect-ratio: 1;
  margin-right: 0.5rem;
  background-image: url("/images/reason_05.png ");
  background-repeat: no-repeat;
  background-size: contain;
}
.p-reason .p-reason__num .p-reson__num-pinkBox .pinkBox {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.875rem;
}
.p-reason .p-reason__num .p-reson__num-pinkBox .pinkBox h4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.33375rem;
  color: #009fe8;
}
.p-reason .p-reason__num .p-reson__num-pinkBox .pinkBox .pinkBox__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.875rem;
  width: 100%;
  padding-bottom: 1rem;
}
.p-reason .p-reason__num .p-reson__num-pinkBox .pinkBox .pinkBox__wrap img {
  width: 140px;
  height: 100%;
}
.p-reason .p-reason__num .p-reson__num-pinkBox .pinkBox .pinkBox__wrap figcaption {
  font-size: 0.833375rem;
  max-width: 140px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

.reason-forth-image {
  width: 90%;
  margin: 0 auto;
}

.reason-forth-tex {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  text-align: center;
  font-size: 0.833375rem;
}

.reason-forth-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.reason-forth-wrap a {
  width: 40%;
  padding: 0.5rem;
  border: solid #000000;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.reason-forth-wrap a img {
  width: 100%;
}
.reason-forth-wrap a:hover {
  opacity: 0.5;
}

.p-offer .p-offer__top {
  background-color: #fcee21;
}
.p-offer .p-offer__top .p-offer__top-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.p-offer .p-offer__top .p-offer__top-box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  font-size: 1.666875rem;
  border-radius: 50%;
  background-color: #e50012;
  color: #ffffff;
}
.p-offer .p-offer__top .p-offer__top-box p {
  display: flex;
  flex-direction: column;
}
.p-offer .p-offer__top .p-offer__top-box p .med {
  font-size: 1.166875rem;
}
.p-offer .p-offer__top .p-offer__top-box p .lg {
  font-size: 1.33375rem;
}
.p-offer .p-offer__wrap {
  width: 100%;
  height: 100%;
  padding: 2.81125rem;
  background-color: #f1f1f1;
}
.p-offer .p-offer__wrap p {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  font-weight: bold;
}
.p-offer .p-offer__wrap p .sm {
  font-size: 1.08375rem;
}
.p-offer .p-offer__wrap p .med {
  font-size: 1.5rem;
}
.p-offer .p-offer__wrap p .lg {
  font-size: 1.666875rem;
}
.p-offer .p-offer__wrap button {
  width: 100%;
  margin: 10% auto;
  padding: 1.5rem 0;
  border: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 6px #cccccc;
}
.p-offer .p-offer__wrap button a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #000000;
  font-family: "Jun 501", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.p-offer .p-offer__wrap button a .sub {
  font-size: 1rem;
}
.p-offer .p-offer__wrap button a .ttl {
  margin-top: 1.25rem;
  font-size: 1.5rem;
}

.p-qa {
  width: 100%;
  padding-top: 5vh;
}
.p-qa h2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.p-qa h2::before {
  content: "";
  position: absolute;
  top: -1rem;
  width: 40px;
  height: 4px;
  background: linear-gradient(to right, #009fe8 50%, #e50012 50%);
}
.p-qa h2 .p-qa__main {
  display: flex;
}
.p-qa h2 .p-qa__main .tex-blue {
  color: #009fe8;
  font-size: 3.33375rem;
}
.p-qa h2 .p-qa__main .tex {
  padding-top: 1.525rem;
  font-size: 1.666875rem;
}
.p-qa h2 .p-qa__main .tex-red {
  font-size: 3.33375rem;
}
.p-qa h2 .sub {
  font-size: 1.666875rem;
}
.p-qa .p-qa__wrap {
  display: flex;
  flex-direction: column;
}
.p-qa .p-qa__wrap .p-qa__wrap-question {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #009fe8;
}
.p-qa .p-qa__wrap .p-qa__wrap-question .question {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.p-qa .p-qa__wrap .p-qa__wrap-question .question .icon {
  width: 15%;
  font-size: 38px;
}
.p-qa .p-qa__wrap .p-qa__wrap-question .question .ttl {
  width: 85%;
  font-size: 1.166875rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  color: #e50012;
  background-color: #fbd9db;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer .icon {
  width: 15%;
  font-size: 38px;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer .ttl {
  width: 85%;
  font-size: 1.166875rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer p {
  width: 90%;
  margin: 1rem auto;
  color: #000000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 1rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer img {
  width: 80%;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr {
  color: #000000;
  font-size: 1rem;
  border-top: #000000 0.1px solid;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr:last-child {
  border-bottom: #000000 0.1px solid;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr th {
  width: 25%;
  background-color: #f1f1f1;
  border-right: #000000 0.1px solid;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr th div {
  display: flex;
  flex-direction: column;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr th div .sm {
  font-size: 0.833375rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr th div .lg {
  font-size: 1.08375rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr .red {
  color: #ffffff;
  background-color: #e50012;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr td {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  padding: 0.6rem;
  background-color: #ffffff;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr .main-table {
  display: flex;
  flex-direction: column;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr .main-table .med {
  font-size: 1.166875rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer table tbody tr .main-table .lg .tex-red {
  font-size: 1.33375rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-offer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  height: auto;
  padding: 0.5rem 0.3rem;
  margin: 0.5rem auto;
  border-radius: 0.8rem;
  background-color: #ffffff;
  color: #000000;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-offer .med {
  font-size: 1.33375rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-offer .sm {
  font-size: 1.166875rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-staff {
  position: relative;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  color: #000000;
  font-size: 1.08375rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-staff::before, .p-qa .p-qa__wrap .p-qa__wrap-answer .answer-staff::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1.75rem;
  height: 1px;
  background-color: #000000;
  transform: translateY(-50%) rotate(45deg);
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-staff::before {
  left: -2rem;
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-staff::after {
  right: -2rem;
  transform: translateY(-50%) rotate(-45deg);
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-staff .answer-staff-wrap .lg {
  font-size: 1.5rem;
  color: #009fe8;
  font-family: "Jun 501", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.p-qa .p-qa__wrap .p-qa__wrap-answer .answer-staff .answer-staff-wrap .sm {
  font-size: 1.08375rem;
}

.c-voice {
  width: 100%;
  height: 100%;
}
.c-voice .c-voice__top {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 10vh;
  font-size: 2rem;
  color: #ffffff;
}
.c-voice .c-voice__top h2 {
  position: absolute;
  top: -50px;
  z-index: 5;
}
.c-voice .c-voice__top h2 span {
  font-family: "Jun 501", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 24px;
  color: #80cff3;
}
.c-voice .c-voice__top h2 strong {
  text-shadow: 0 0 1px #000, 0 0 2px #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
}
.c-voice .c-voice__top img {
  width: 100%;
  z-index: 1;
  position: relative;
}
.c-voice .c-voice__wrap {
  width: 90%;
  margin: 0 auto;
}
.c-voice .c-voice__wrap .c-voice__wrap-lead {
  margin: 2rem auto;
  line-height: 1.6;
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .items {
  position: relative;
  width: 75%;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 1rem;
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .items::before, .c-voice .c-voice__wrap .c-voice__wrap-contents .items::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .items::before {
  border-top-color: #ddd;
  border-width: 15px;
  margin-left: -15px;
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .items::after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fff;
  border-width: 14px;
  margin-left: -14px;
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .items p {
  text-align: center;
  font-size: 0.875rem;
  font-family: "Maru Folk Medium", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .items img {
  width: 100%;
  max-width: 500px;
  margin: 1rem auto;
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .left {
  margin: 0 auto 2rem 0;
}
.c-voice .c-voice__wrap .c-voice__wrap-contents .right {
  margin: 0 0 2rem auto;
}
.c-voice .c-voice__closing {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.c-voice .c-voice__closing h2 {
  position: relative;
}
.c-voice .c-voice__closing h2 span {
  font-size: 2rem;
  font-family: "Jun 501", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.c-voice .c-voice__closing h2::before, .c-voice .c-voice__closing h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20%;
  height: 1px;
  background-color: #009fe8;
  transform: translateY(-50%) rotate(45deg);
}
.c-voice .c-voice__closing h2::before {
  left: 2rem;
}
.c-voice .c-voice__closing h2::after {
  right: 2rem;
  transform: translateY(-50%) rotate(-45deg);
}
.c-voice .c-voice__closing p {
  width: 90%;
  margin: 1rem auto;
}

.c-message {
  position: relative;
  width: 100%;
}
.c-message h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  z-index: 100;
}
.c-message h2 span {
  font-family: "Jun 501", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 1.5rem;
  color: #80cff3;
}
.c-message h2 strong {
  text-shadow: 0 0 1px #000, 0 0 2px #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;
}
.c-message .c-message__wrap {
  position: relative;
  text-align: center;
  width: 100%;
}
.c-message .c-message__wrap img {
  width: 90%;
  margin: 1rem auto;
}
.c-message .c-message__wrap h3 {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.33375rem;
  color: #009fe8;
}
@media screen and (min-width: 467px) {
  .c-message .c-message__wrap h3 {
    position: absolute;
    top: 52%;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.c-message .c-message__wrap h3 span {
  font-size: 0.833375rem;
}
.c-message .c-message__tex {
  width: 90%;
  margin: 6% auto;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
}
.c-message .c-message__tex p {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 1.166875rem;
}
.c-message .c-message__tex p strong {
  color: #009fe8;
}

.p-closing .p-closing__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-closing .p-closing__top .p-closing__top-contens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.p-closing .p-closing__top .p-closing__top-contens p {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem 1rem 2rem;
  padding: 1rem;
  font-size: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 1rem;
}
.p-closing .p-closing__top .p-closing__top-contens p .sm {
  font-size: 1rem;
}
.p-closing .p-closing__top .p-closing__top-contens p .lg {
  font-size: 1.33375rem;
}
.p-closing .p-closing__top .p-closing__top-contens p .lg strong {
  font-size: 1.33375rem;
}
.p-closing .p-closing__top .p-closing__top-contens p .lg .inner_sm {
  font-size: 1rem;
}
.p-closing .p-closing__top .p-closing__top-contens .left {
  position: relative;
}
.p-closing .p-closing__top .p-closing__top-contens .left::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #fff;
  z-index: 2;
}
.p-closing .p-closing__top .p-closing__top-contens .left::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -13px;
  border: 13px solid transparent;
  border-left: 13px solid #ddd;
  z-index: 1;
}
.p-closing .p-closing__top .p-closing__top-contens .right {
  position: relative;
}
.p-closing .p-closing__top .p-closing__top-contens .right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #fff;
  z-index: 2;
}
.p-closing .p-closing__top .p-closing__top-contens .right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -26px;
  margin-top: -13px;
  border: 13px solid transparent;
  border-right: 13px solid #ddd;
  z-index: 1;
}
.p-closing .p-closing__top .p-closing__top-contens img {
  width: 50%;
}
.u-ball {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0% auto;
  z-index: 0;
}

.u-blueBall {
  --blue-color: 158 219 246;
  background: radial-gradient(circle, rgb(var(--blue-color)), rgb(var(--blue-color)/0%));
  width: min(50%, 400px);
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(15px);
  z-index: 1;
}

.u-pinkBall {
  --pink-color: 245 158 165;
  background: radial-gradient(circle, rgb(var(--pink-color)), rgb(var(--pink-color)/0%));
  width: min(50%, 400px);
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(15px);
  z-index: 2;
}

.u-absolute-about {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 50px;
  left: 0;
}

.u-padding-reason {
  padding-top: 10vh;
}

.u-tex-red {
  color: #e50012;
}

.u-tex-blue {
  color: #009fe8;
}

.u-tex-w {
  color: #ffffff;
}

.marker01 {
  background-image: linear-gradient(to right, transparent 50%, rgb(255, 250, 153) 50%);
  background-repeat: repeat-x;
  background-size: 200% 0.8em;
  background-position: 0 0.5em;
  font-weight: bold;
  display: inline-block;
  transition: background-position 1.5s ease;
}

.marker01.active {
  background-position: -100% 0.5em;
}

.marker02 {
  background-image: linear-gradient(to right, transparent 50%, rgb(0, 159, 232) 2%);
  background-repeat: repeat-x;
  background-size: 200% 0.5em;
  background-position: 0 0.5em;
  transition: background-position 1.5s ease;
}

.marker02.active {
  background-position: -100% 0.5em;
}/*# sourceMappingURL=index.css.map */