 <article class="l-contents">
                <section class="p-about">
                    <div class="black-bg">
                        <div>と、その理由のまえに</div>
                    </div>
                    <div class="p-about__wrap">
                        <div class="p-about__wrap-ttl">
                            <img src="./public/images/reason_05.png" class="about-logo" alt="ポピっこくらぶ" />
                            <h2>ポピっこくらぶ<span>とは？</span></h2>
                        </div>
                    </div>
                </section>
                <section class="p-about c-bg-cream">
                    <div class="p-about__wrap">
                        <p>
                            ポピっこくらぶは、<span class="marker01">大阪府を拠点にポピーを取り扱う全家研本部の公認支部です。</span
                >全国の支部の中でもめずらしい独自のサービスを提供しております。また、<span
                  class="marker01"
                  >ポピー本部から様々な賞を毎年受賞</span
                >しており、高い評価・信頼を得ております。
              </p>

              <h3 class="p-about__wrap-ttl-sec">受賞歴</h3>

              <figure class="p-about__wrap-box">
                <img src="./public/images/crown.webp" alt="受賞歴" />
                <figure class="bos">
                  <figcaption>
                    <ruby>絹谷<rt>きぬや</rt>支部長</ruby>
                  </figcaption>
                  <img
                    src="./public/images/bos.webp"
                    alt="絹谷支部長ガッツポーズ"
                  />
                </figure>
                <figcaption class="grades">
                  <h3>
                    通算
                    <span>15賞</span> 受賞
                            </h3>
                            </figcaption>
                            </figure>
                    </div>
                    <div class="c-arrow u-absolute-about">
                        <svg id="layer" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 66.8 36.8">
                <defs>
                  <style>
                    .st0 {
                      fill: none;
                      stroke: red;
                      stroke-miterlimit: 10;
                    }
                  </style>
                </defs>
                <polyline
                  class="st0 arrow-line line-1"
                  points="66.8 13.5 33.4 36.8 0 13.5"
                ></polyline>
                <polyline
                  class="st0 arrow-line line-2"
                  points="66.8 7.2 33.4 30.5 0 7.2"
                ></polyline>
                <polyline
                  class="st0 arrow-line line-3"
                  points="66.8 0 33.4 23.3 0 0"
                ></polyline>
              </svg>
                    </div>

                    <img src="./public/images/bg-triangle.svg" class="c-triangle" />
                </section>
            </article>