
        <article class="l-contents">
          <section class="p-closing stripe04">
            <div class="p-closing__top">
              <div class="p-closing__top-contens up">
                <p class="left">
                  <span class="sm">ウチの子</span>
                            <span class="sm">飽きっぽいから</span>
                            <span class="lg u-tex-blue">続けられるのか…</span>
                            <span class="lg u-tex-blue">ちょっと不安…</span>
                        </p>
                        <img src="/images/pen_01.png" alt="" />
                    </div>
                    <div class="p-closing__top-contens down">
                        <img src="/images/shibucho_jump.png" alt="" />
                        <p class="right">
                            <span class="lg">
                    <strong class="u-tex-red">無料見本</strong>
                    <span class="inner_sm">を</span>
                            </span>

                            <span class="sm">使って</span>

                            <span class="lg">
                    <strong class="u-tex-red">体験</strong>
                    <span class="inner_sm">されては</span>
                            </span>

                            <span class="sm">どうですか？</span>
                        </p>
                    </div>
                    </div>
                </section>
            </article>
