 <article class="l-contents" id="hero">
                <section class="p-hero">
                    <header id="header">
                        <h1>
                            <div class="mainLogo">
                                <img src="./public/images/poppy-logo.svg" alt="全家研月刊ポピー" />
                            </div>
                            <div class="ttl-cross"></div>
                            <div class="clubLogo">
                                <div class="clubLogo-ttl">
                                    <span>ポピっこくらぶ</span>
                                    <span>ポピー晴城支部</span>
                                </div>
                                <img src="./public/images/reason_05.png" alt="ポピっこくらぶロゴ" />
                            </div>
                        </h1>
                    </header>

                    <div class="p-hero__cover">
                        <img src="./public/images/50th.webp" alt="ポピー50th" />
                        <h2>
                            <span class="leadOne">ポピーは </span>
                            <span class="leadSec">楽しく学べる続けられる</span>
                            <span class="leadThird">自分で学ぶ力が身につく</span>
                        </h2>
                    </div>

                    <div class="p-hero__slide">
                        <div class="slideshow">
                            <div class="slideshow_image"></div>
                            <div class="slideshow_image"></div>
                            <div class="slideshow_image"></div>
                        </div>
                    </div>

                    
                </section>
                <section class="p-hero__bottom">
                        <figure class="left">
                            <img src="./public/images/mama-logo.webp" alt="日本マザーズ協会推奨認定 ロゴ" />
                            <figcaption>
                                一般社団法人日本マザーズ協会が<br /> 推奨認定する商品です。
                            </figcaption>
                        </figure>
                        <div class="right">
                            <h2>教育業界初！</h2>
                            <p>
                                月刊ポピーが<br /> 2024年日本マザーズ協会 <br /> 推奨認定を受けました！
                                <br />
                            </p>
                            <img src="./public/images/drill.webp" alt="ポピー教材" />
                        </div>
                    </section>
            </article>

          
            