
            <article class="l-contents stripe06">
                <section class="c-message">
                    <h2>
                        <span>ポピっこくらぶ</span>
                        <strong>支部長からのメッセージ</strong>
                    </h2>

                    <div class="c-message__wrap">
                        <img class="fadein" src="./public/images/sibucho_06.png" />

                        <h3 class="fadein">
                            <span>ポピっこくらぶ・ポピー晴城支部は、</span><br /> お子さまの <br /> やる気や自信を引き出す <br /> 活動をしています。
                        </h3>
                    </div>
                    <div class="c-message__tex">
                        <p>
                            私は長年の教員経験から、<strong>家庭学習は子どもの学力の基礎を作る</strong>と実感しています。
                        </p>

                        <p>
                            ポピーは他社の教材に比べ付録が少ないため、お子さまにとっては物足りなく感じるかも知れません。ですが、<span class="marker01">余計なものがない分、学校の授業を理解するのに必要なことが詰まっており、勉強に対してシンプル且つまじめな教材</span
                >です。<strong>教科書に合ったポピーで学習すれば、テストの成績は必ず上がります</strong>。
              </p>

              <p>
                <span class="marker01"
                  >ポピーを使って１日１問でもいいから問題を解いて、毎日コツコツと自分から勉強に取り組んで欲しい。楽しく勉強ができる「やる気のある子」になって欲しい。</span
                >そんな思いから、他にはない<strong>無料の教育サービス</strong>を提供するようになりました。
              </p>

              <p>
                また、子育てに悩んでおられる保護者の方には、<strong>電話相談も受け付け</strong>ています。お子さまに合った学習の方法、今やっておかないといけないこと、ほめ方、叱り方などをアドバイスいたします。
              </p>

              <p>
                <span class="marker01"
                  >ポピっこくらぶ・ポピー晴城支部は、<strong>お子さまの「やる気」や「自信」を引き出すサポート活動</strong>をしています。</span
                >
              </p>
            </div>
          </section>
        </article>
