 <article class="l-contents">
                <section class="p-offer">
                    <div class="p-offer__top">
                        <div class="p-offer__top-box">
                            <h3>さらに<br />お得！</h3>
                            <p>
                                <span class="med">ポピっこくらぶ・ポピー晴城支部に、<br />
                    年払いでご入会いただくと、</span
                  >
                  <span class="lg u-tex-red">年間割引きがあります</span>
                            </p>
                        </div>
                    </div>
                    <div class="p-offer__wrap">
                        <p>
                            <span class="med">ポピーを</span>
                            <span class="med">実物で１度試してみたい方は</span>
                            <span class="med">有料のお試し講読もできます</span><br /><br />
                            <span class="sm">通常、定期講読ですが、お試し講読は</span>
                            <span class="lg">「3か月または１ヶ月分だけ」</span>
                            <span class="lg">試せます！</span>
                        </p>

                        <button>
                <a href="" target="_blank" rel="noopener noreferrer">
                  <span class="sub">実物で試してみたい方</span>
                  <span class="ttl">3・1ヶ月有料購読申し込み</span>
                </a>
              </button>
                    </div>
                </section>
            </article>