
            <article class="l-contents">
                <div class="p-qa">
                    <h2>
                        <div class="p-qa__in">
                            <span class="tex-blue">Q</span>
                            <span class="tex">&</span>
                            <span class="u-tex-red">A</span>
                        </div>
                        <span class="sub">疑問にお答えします</span>
                    </h2>
                    <div class="p-qa__wrap">
                        <div class="p-qa__wrap-question">
                            <h3 class="question">
                                <span class="icon">Q.</span>
                                <span class="ttl">月刊ポピーを作っている会社って<br />どんな会社？</span
                  >
                </h3>
              </div>
              <div class="p-qa__wrap-answer">
                <h3 class="answer">
                  <span class="icon">A.</span>
                                <span class="ttl">家庭学習のプロがつくっている教材です</span>
                            </h3>
                            <p>
                                <span class="marker02">ポピーの発行元である新学社は、全国の小・中学校で使われるドリルなどの副教材を発行</span>しています。 <span class="marker02">教材作りのノウハウを活かして</span>作られているので、「ポピーで勉強すると成績が上がる」「テストでいい点が取れる」という声が多く寄せられています。
                            </p>
                            <img src="./public/images/qa01.webp" alt="" />
                        </div>
                    </div>

                    <div class="p-qa__wrap">
                        <div class="p-qa__wrap-question">
                            <h3 class="question">
                                <span class="icon">Q.</span>
                                <span class="ttl">他の通信教育とどう違うのか <br />簡単に教えてほしい</span
                  >
                </h3>
              </div>
              <div class="p-qa__wrap-answer">
                <h3 class="answer">
                  <span class="icon">A.</span>
                                <span class="ttl">ポピーのサービスと<br />
                    ポピっこくらぶ独自の無料サービスが<br />
                    受けられます</span
                  >
                </h3>
                <p>
                  ポピー本部のサービス以外に、ポピっこくらぶ独自の無料教育サービスが受けられます。<span class="marker02">一番人気の添削サービスでは、解き方のアドバイス</span>も致します。
                </p>
                <table>
                  <tbody>
                    <tr>
                      <th>A社</th>
                      <td>
                        タブレットか紙教材が選べる。<br />
                        付録が充実している。<br />
                        添削してもらえる。
                      </td>
                    </tr>
                    <tr>
                      <th>B社</th>
                      <td>
                        タブレット教材のみ。<br />
                        付録・添削はなし。
                      </td>
                    </tr>
                    <tr>
                      <th>C社</th>
                      <td>
                        紙教材+ゲームアプリ<br />
                        付録が多い。<br />
                        添削テストは年２回のみ（制約あり）
                      </td>
                    </tr>
                    <tr>
                      <th class="red">
                        <div>
                          <span class="sm">月刊ポピー</span>
                                <span>×</span>
                                <span class="lg">ポピっこ<br />
                            くらぶ</span
                          >
                        </div>
                      </th>
                      <td class="main-table">
                        <span class="med">紙とデジタルのダブル教材。 </span>
                                <span>保護者向けの冊子あり。</span>
                                <span>付録はなし。 </span>
                                <span>さらに、</span>
                                <span>ポピっこくらぶでは</span>
                                <span class="lg"><span class="u-tex-red"
                            >独自の無料教育サービスを</span
                          >ご提供。</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="p-qa__wrap">
              <div class="p-qa__wrap-question">
                <h3 class="question">
                  <span class="icon">Q.</span>
                                <span class="ttl">ポピっこくらぶオリジナルの

                    <br />無料教育サービスって何？</span
                  >
                </h3>
              </div>
              <div class="p-qa__wrap-answer">
                <h3 class="answer">
                  <span class="icon">A.</span>
                                <span class="ttl">お子さまと保護者のモチベーションアップにつながるサービスを提供しております。</span
                  >
                </h3>

                <div class="answer-offer">
                  <span class="med">毎月のポピーを添削指導</span>
                                <span class="med">+</span>
                                <span class="med">ポイントシールを集めて楽しく勉強！</span>
                                <span class="sm u-tex-blue">たまったポイントでプレゼントGET!</span>
                        </div>

                        <div class="answer-offer">
                            <span class="med">プリント補助教材の送付</span>
                        </div>
                        <div class="answer-offer">
                            <span class="med">ポピーや学習に関する質問の電話受付</span>
                        </div>
                        <div class="answer-offer">
                            <span class="sm">子育て相談</span>
                        </div>
                        <p>
                            学習意欲の継続をサポートするため、ポピっこくらぶのポピー会員さんなら誰でも無料で使えるオリジナルサービスを実施し、ポピー本部や他支部とは異なった教育サービスを提供し、会員の皆さまにご好評いただいております。
                        </p>

                        <h3 class="answer-staff">
                            <span>わたしたち</span>
                            <div class="answer-staff-wrap">
                                <span class="lg">ポピっこくらぶスタッフ </span
                    ><span class="sm">が</span>
                            </div>
                            <span>サポートします！</span>
                        </h3>

                        <img src="./public/images/stuff.png" alt="ポピー晴城支部スタッフ" />
                    </div>
                </div>
                </div>
            </article>