 <article class="l-contents">
                <section class="p-solution">
                    <div class="award">
                        <img src="./public/images/bnr-iidaward2022.webp" alt="通信教育小学生の部顧客満足度No.1獲得！！効果がある通信教育、継続しやすい通信教育、学費の満足度が高いあ通信教育の他部門でもNo.1" />
                    </div>
                    <h2>
                        <span>顧客満足度が高い</span>
                        <span>その理由は</span>
                    </h2>

                    <div class="c-arrow">
                        <svg id="layer" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 66.8 36.8">
                <defs>
                  <style>
                    .st0 {
                      fill: none;
                      stroke: red;
                      stroke-miterlimit: 10;
                    }
                  </style>
                </defs>
                <polyline
                  class="st0 arrow-line line-1"
                  points="66.8 13.5 33.4 36.8 0 13.5"
                ></polyline>
                <polyline
                  class="st0 arrow-line line-2"
                  points="66.8 7.2 33.4 30.5 0 7.2"
                ></polyline>
                <polyline
                  class="st0 arrow-line line-3"
                  points="66.8 0 33.4 23.3 0 0"
                ></polyline>
              </svg>
                    </div>
                </section>

                <section class="p-solution u-padding-reason">
                    <div class="p-solution__wrap">
                        <div class="c-logo__flex">
                            <div class="c-logo__flex-items first">
                                <img src="./public/images/poppy-logo.svg" class="main-logo" alt="全家研月刊ポピー" />
                            </div>

                            <div class="c-logo__flex-items sec">
                                <span class="cross"></span>
                            </div>

                            <div class="c-logo__flex-items third">
                                <img src="./public/images/reason_05.png " class="club-logo" alt="ポピっこくらぶロゴ" />
                                <div class="u-tex-w">ポピっこくらぶ</div>
                            </div>
                        </div>

                        <div class="p-solution__flex">
                            <div class="p-solution__flex-box">
                                <span class="line"></span>
                                <p>
                                    50年以上の歴史<br /> 教科書に沿った内容で、 <br /> 授業の予習・復習がしやすい
                                </p>
                            </div>

                            <div class="p-solution__flex-box">
                                <span class="line"></span>
                                <p>
                                    学習意欲継続・向上に<br /> 特化した <br /> 無料サポート
                                </p>
                            </div>
                        </div>
                        <h2 class="u-tex-w">
                            <span>家庭での学習を</span>
                            <span>長く続けられる仕組みが</span>
                            <span>あるから！</span>
                        </h2>
                    </div>

                    <div class="c-arrow u-absolute-about">
                        <svg id="layer" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 66.8 36.8">
                <defs>
                  <style>
                    .st0 {
                      fill: none;
                      stroke: red;
                      stroke-miterlimit: 10;
                    }
                  </style>
                </defs>
                <polyline
                  class="st0 arrow-line line-1"
                  points="66.8 13.5 33.4 36.8 0 13.5"
                ></polyline>
                <polyline
                  class="st0 arrow-line line-2"
                  points="66.8 7.2 33.4 30.5 0 7.2"
                ></polyline>
                <polyline
                  class="st0 arrow-line line-3"
                  points="66.8 0 33.4 23.3 0 0"
                ></polyline>
              </svg>
                    </div>

                    <img src="./public/images/bg-triangle.svg" class="c-triangle" />
                </section>
            </article>