
            <article class="l-contents stripe01">
                <section class="c-voice">
                    <div class="c-voice__top">
                        <h2>
                            <span>ポピっこくらぶ</span><br />
                            <strong>会員さまからの声</strong>
                        </h2>
                        <img src="/images/voice.jpg " />
                    </div>
                </section>

                <section class="c-voice">
                    <div class="c-voice__wrap">
                        <p class="c-voice__wrap-lead">
                            会員のみなさまからは、添削サービスのご依頼とともに、毎月たくさんのメッセージやお手紙をいただいております。一部抜粋してお伝えします。
                        </p>

                        <div class="c-voice__wrap-contents">
                            <div class="items left">
                                <p>
                                    「もっとゆっくりで良いからていねいに」とアドバイス頂き本人もその点に注意して取り組みました。<br />
                                    <span class="marker-yellow">お手紙にて「おどろくほど上手になったね」と書いて頂き、娘は大変喜びやる気を増々出しました。</span
                    >
                  </p>
                  <img
                    src="/images/lette_001.webp "
                    alt="会員様からのお手紙 "
                  />
                </div>

                <div class="items right">
                  <p>
                    毎日ポピーをしているおかげで
                    <span class="marker01"
                      >予習復習にとても役立っています。<br />また算数のプリントも頂きたいです</span
                    >
                  </p>
                  <img
                    src="/images/lette_002.webp "
                    alt="会員様からのお手紙 "
                  />
                </div>

                <div class="items left">
                  <p>
                    毎月親子で楽しく学ばせて頂いています！ ポピーのおかげで
                    <span class="marker01">親子の時間がより有意義に</span
                    >なりました！<br />
                  </p>
                  <img
                    src="/images/letter01.webp "
                    alt="会員様からのお手紙 "
                  />
                </div>

                <div class="items right">
                  <p>
                    <span class="marker01">ポピーをするのが大好きで</span><br /> いつも届いたらすぐに
                                    <span class="marker01">どんどん先に進み、<br />1〜2日で終わらせてしまいます</span
                    >
                  </p>
                  <img
                    src="/images/lette_003.webp "
                    alt="会員様からのお手紙 "
                  />
                </div>

                <div class="items left">
                  <p>
                    最近は集中力がついてきたようで<br />
                    <span class="marker01"
                      >1時間半近く集中して<br />
                      ポピーを取り組むことができ</span
                    >
                    驚いています。
                  </p>
                  <img
                    src="/public/images/letter03.webp "
                    alt="会員様からのお手紙 "
                  />
                </div>

                <div class="items right">
                  <p>
                    <span class="marker01"
                      >アドバイスしていただくと、<br />
                      本人も自信</span
                    >
                    がつき、
                    <span class="marker01"
                      >学校での勉強も<br />楽しくなってきた</span
                    >ようです。
                  </p>
                  <img
                    src="/images/letter04.webp "
                    alt="会員様からのお手紙 "
                  />
                </div>

                <div class="items left">
                  <p>
                    <span class="marker01"
                      >子育てに余裕がなく、<br />
                      手紙に書いた一言の悩み</span
                    >に、<br />とても
                    <span class="marker01">丁寧なご回答</span>を頂戴し、<br /> とても嬉しく有り難かったです。
                                </p>
                                <img src="/images/letter05.jpg " alt="会員様からのお手紙 " />
                            </div>
                        </div>
                    </div>
                </section>

                <section class="c-voice">
                    <div class="c-voice__closing">
                        <h2 class="fadein">
                            <span class="u-tex-blue">ポピっこくらぶ</span>なら<br />
                            <span class="u-tex-blue">嬉しいサポートが<br />万全</span
                >なのね！
              </h2>
              <img class="fadein" src="/images/mama_03.png" />
              <p>
                ※学齢によってサービス内容が異なる場合があります。詳しくは、お電話などでお気軽にお問い合わせください。
              </p>
            </div>
          </section>
        </article>