 <article class="l-contents" id="worries">
                <section class="p-worries">
                    <h2>こんなお悩みありませんか？</h2>
                    <ul>
                        <li>学習習慣を身につけさせたい</li>
                        <li>手頃な価格で学ばせたい</li>
                        <li>なかなか勉強に集中してくれない</li>
                        <li>実績や信頼できる教材を選びたい</li>
                        <div class="arrow"></div>
                    </ul>
                </section>

                <section class="p-worries">
                    <div class="p-worries__wrap">
                        <h2>そのお悩み</h2>
                        <h3>家庭教育について「長く・深く」取り組んできた</h3>

                        <div class="c-logo__flex">
                            <div class="c-logo__flex-items first">
                                <img src="/public/images/poppy-logo.svg" class="main-logo" alt="全家研月刊ポピー" />
                            </div>

                            <div class="c-logo__flex-items sec">
                                <span class="cross"></span>
                            </div>

                            <div class="c-logo__flex-items third">
                                <img src="/public/images/reason_05.png " class="club-logo" alt="ポピっこくらぶロゴ " />
                                <div class="club-tex">ポピっこくらぶ</div>
                            </div>
                        </div>

                        <h2>が解決します！</h2>
                    </div>
                </section>
            </article>